{% extends 'users/base.html' %}
{% load static %}

{% block css %}
    {% if user.preferred_theme == 'Темная' %}
        <link rel="stylesheet" href="{% static 'styles/themes/form/dark.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'styles/themes/form/light.css' %}">
    {% endif %}
{% endblock %}

{% block title %}
<title>ToDo reg</title>
{% endblock %}

{% block content %}
<div class="header" ><h2>Создание аккаунта</h2></div>

{% if messages %}
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

<form action="{% url 'users:registration' %}" method="post">
    {% csrf_token %}
    <label for="username-id-for-label">Никнейм</label>
    <br>
    {{ form.username }}
    <br>
    <label for="password1-id-for-label">Пароль</label>
    <br>
    {{ form.password1 }}
    <label for="password2-id-for-label">Повтори пароль</label>
    <br>
    {{ form.password2 }}    
    <a href="{% url 'users:login' %}">Уже есть акаунт? Войти можно тут</a>
    <br>
    <button class="button-submit" type="submit">Далее</button>

</form>

{% endblock %}