<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    {% block css %}

    {% endblock %}
</head>

<body>
    
    <header>
        <div class="logo"><a href="{% url 'taskmanager:index' %}" ><i class="ri-brain-line"></i></a></div>        
        </div>  
        
        <div class="user-info">
            <div class="user-menu" >
                
                <div class="dropdown">
                    <div onclick="DropDown()" class="dropbtn">Меню</div>
                    <div id="myDropdown" class="dropdown-content">
                    <a href="#">Установить аватар</a>
                    <hr>
                    <a href="#">История</a>
                    <hr>
                    <a href="{% url 'users:logout' %}">Выйти</a>
                    {% if user.is_superuser %}
                    <hr>
                    <a href="{% url 'admin:index' %}">Админка</a>
                    {% endif %}
                    </div>
                </div>
                <i class="ri-user-line"></i>
            </div>
            <span class="user-username">{{ user.username }}</span>
            {% if user.avatar %}
            <img class="user-avatar" src="defaul_avatar.png" alt="UserAvatar">
            {% endif %}

        </div>


        </div>
    </header>
    {% block content %}
    
    {% endblock %}

</body>
</html>