{% extends 'taskmanager/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}

{% block content %}
<div class="container" >
    <main>
            <div id="task-list">
                {% for task in task_list %}
                <div class="task-item" draggable="true" id="{{ task.order }}">
                    <div class="task-item-name"><p>{{ task.name }}</p></div>
                    <div class="task-item-delete"><a href=""><i class="ri-delete-bin-6-line"></i></a></div>
                </div>
                {% endfor %}

                <div class="task-item-add">
                    <a href="{% url 'taskmanager:create' %}">
                        <i class="ri-add-large-line"></i>
                        <p>Добавить задачу</p>
                    </a> 
                </div>
            </div>                    

    </main>
    <div id="sidebar">
        <div>
            <canvas id="pie-chart"></canvas>
        </div>            
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'JavaScript/pie_chart.js' %}"></script>
    <script src="{% static 'JavaScript/scripts.js' %}"></script>

{% endblock %}
