{% extends 'taskmanager/base.html' %}
{% load static %}

{% block title %}
<title>To Do list</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% if user.preferred_theme_is_dark %}
        <link rel="stylesheet" href="{% static 'styles/themes/main/dark.css' %}">
        <script>var border = 'rgb(8, 8, 8)';</script>
        <script>var task_border = 'rgb(80, 80, 80)';</script>
    {% else %}
        <link rel="stylesheet" href="{% static 'styles/themes/main/light.css' %}">
        <script>var border = '#fff';</script>
        <script>var task_border = '#ccc';</script>
    {% endif %}
{% endblock %}

{% block content %}
    <main>
            <div id="task-list">
                {% for task in task_list %}
                <div class="task-item" draggable="true" id="{{ task.order }}">
                    <div class="task-item-name"><p>{{ task.name }}</p></div>
                    <div class="task-item-delete"><a href="{% url 'taskmanager:delete' task.id %}"><i class="ri-delete-bin-6-line"></i></a></div>
                </div>
                {% endfor %}

                <div class="task-item-add">
                    <a href="{% url 'taskmanager:create' %}">
                        <i class="ri-add-large-line"></i>
                        <p>Добавить задачу</p>
                    </a> 
                </div>
            </div>                    

    </main>

{% endblock %}

{% block script %}

<script src="{% static 'JavaScript/scripts.js' %}"></script>

{% endblock %}


