{% extends 'taskmanager/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

    {% if user.preferred_theme == 'Темная' %}
        <link rel="stylesheet" href="{% static 'styles/themes/main/dark.css' %}">
        <script>var border = 'rgb(8, 8, 8)';</script>
        <script>var task_border = 'rgb(80, 80, 80)';</script>
    {% elif user.preferred_theme == 'Светлая' %}
        <link rel="stylesheet" href="{% static 'styles/themes/main/light.css' %}">
        <script>var border = '#fff';</script>
        <script>var task_border = '#ccc';</script>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container" >
    <main>
            <div id="task-list">
                {% for task in task_list %}
                <div class="task-item" draggable="true" id="{{ task.order }}">
                    <div class="task-item-name"><p>{{ task.name }}</p></div>
                    <div class="task-item-delete"><a href="{% url 'taskmanager:delete' task.id %}"><i class="ri-delete-bin-6-line"></i></a></div>
                </div>
                {% endfor %}

                <div class="task-item-add">
                    <a href="{% url 'taskmanager:create' %}">
                        <i class="ri-add-large-line"></i>
                        <p>Добавить задачу</p>
                    </a> 
                </div>
            </div>                    

    </main>
    <div id="sidebar">
        <div>
            <script>
            let dataset = JSON.parse('{{ chart_data|escapejs }}');
            </script>
            <canvas id="pie-chart"></canvas>
        </div>            
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'JavaScript/pie_chart.js' %}"></script>
    <script src="{% static 'JavaScript/scripts.js' %}"></script>

{% endblock %}
