{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">

    {% if user.preferred_theme_is_dark %}
        <link rel="stylesheet" href="{% static 'styles/themes/form/dark.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'styles/themes/form/light.css' %}">
    {% endif %}

    <title>To Do list</title>
</head>
<body>
    <div id="container" >
        <div class="header" ><h2>Добавление задачи</h2></div>
        <form id="form" name="taskcreationform">
            <label for="name-id-for-label">Название</label>
            <br>
            <input name="name" required class="form-input" id="name-id-for-label" type="text">
            <br>
            <label for="deadline-id-for-label">Дедлайн (необязательно)</label>
            <br>
            <input name="deadline" class="form-input" id="deadline-id-for-label" type="date">
            <br>
            <label for="category-id-for-label">Категория задачи</label>
            <br>
            <select required class="form-input" name="category">
                <option disabled selected value> -- none -- </option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>  
                {% endfor %}
            </select>
            <br>
            <a class="link" href="{% url 'taskmanager:create_category' %}">Ты можешь создать свою категорию и выбрать цвет!</a>
            <br>

            <button name="send" class="button-submit" type="submit">Сохранить</button>
        </form>
        <script src="{% static 'JavaScript/SendForm.js' %}"></script>
    </div>
    
</body>
</html>