* {
    margin: 0;
    padding: 0;
}


body {
    background-repeat: no-repeat;
    background-size: 100%;
}

#container {
    border-radius: 30px;
    margin: auto;
    margin-top: 25vh;
    padding-top: 4vh;
    width: 47vw;

}

.header {
    color: gray;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.form-input {
    margin-left: 2vw;
    width: 42vw;
    height: 4vh;
    border-radius: 14px;
    font-size: 14pt;
    margin-bottom: 2vh;
}

label {
    font-size: 14pt;
    color: gray;
    margin-left: 2vw;
}

.color-picker {
    margin-left: 2vw;
    width: 4vw;
}

a {
   color: gray; 
   margin-left: 2vw;
   font-size: 12pt;  
}

a:hover {
    color: rgb(78, 78, 78);
}

.button-submit {
    width: 6vw;
    height: 4vh;
    background-color: rgb(80, 156, 243);
    color: #ffffff;
    font-size: 14pt;
    border: none;
    border-radius: 14px;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.button-submit {
    background-color: rgb(51, 106, 169);
}

